body {
    background-color: rgba(255, 255, 255, 0.165);
    color:black;
}

.jumbotron {
    background-image: url("../images/download.jpeg");
    opacity: 0.85;
    background-size: 100% 100%;
    text-align: center;
}

.titletext {
    opacity: 1;
    color:rgb(187, 139, 66);
    text-shadow: 2px 2px black;
}

.chart {
    background-color: rgb(255, 255, 255);
}

select {
    border: 4px solid #8181e7;
    border-radius: 3px;
}

select:focus {
    outline: none;
    border-color: #9b9be2;
    box-shadow: 0 0 10px #9b9be2;
}

.well {
    border: 2px solid blue;
    border-radius: 5px;
    background-color:lavender;
}

.panel {
    border: 2px solid blue;
    border-radius: 5px;
}

.panel-heading {
    background-color:lavender;
}

#gauge {
    align-content: center;
}